<div class="container">
  <p>LISTA DE PRODUCTOS</p>
<button routerLink="/addp" type="button" class="btn btn-dark">Agregar Producto</button>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre del Producto</th>
        <th scope="col">Codigo del Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Tipo de Producto<th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let producto of ListarProductos">
        <th>{{producto.id}}</th>
        <td>{{producto.name_product}}</td>
        <th>{{producto.codigo_product}}</th>
        <td>{{producto.precio}}</td>
        <td>{{producto.cantidad}}</td>
        <td>{{producto.rol}}</td>
        <td>
          <button (click)="modificar(producto.id!)" type="button" class="btn btn-primary">Editar</button>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="open(mymodal)">Eliminar</button>
          <ng-template #mymodal let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Confirmacion para Eliminar</h4>
              <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">X</span>
              </button>
            </div>
            <div class="modal-body">
              {{letrero}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="modal.close('Save click')" (click)="eliminar(producto.id!)">Eliminar</button>
              <button type="button" class="btn btn-dark" data-dismiss="modal" (click)="modal.close('Save click')">Cerrar</button>
            </div>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <button routerLink="/addv" type="button" class="btn btn-dark">Agregar Venta</button>

</div>
