*{
	margin: 0%;
}

div #titulo {
	font-family: 'Tahoma';
	height: 50px;
}

div #lista {
	position: absolute;
	right: 500px;
    top: 10%;
}

.menu li{
    display: inline-block;
    padding: 2px;
} 

ul.menu a:hover{
    background-color: aqua;
    padding: 10px;
}

.hijo {
	height: 70px;
	width: 150px;
	display: inline-block;
	padding: 20px;
}

.img {
	height: 70px;
	width: 100%;
	display: inline;
}
